<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Dog</title>
  </head>
  <body>
    <form action="/dogs" method="post">
      <label>Name: <input type="text" name="name"></label>
      <label>Breed: <input type="text" name="breed"></label>
      <label>Age: <input type="text" name="age"></label>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
